/* FONTS 

*/

@font-face {
  font-family: dancingfont;
  src: url("./Fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: oswaldlight;
  src: url("./Fonts/Oswald-Light.ttf");
}
@font-face {
  font-family: oswaldmedium;
  src: url("./Fonts/Oswald-Medium.ttf");
}

body {
}

ul {
  margin: 0;
  padding: 0;
}

a {
  transition: all 350ms ease-in-out;
  font-weight: 400;
  text-decoration: unset;
}
div#basic-navbar-nav {
  margin-left: 429px;
}
.me-auto.navbar-nav a {
  margin-right: 27px;
}
.upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-header a {
  margin-left: 20px;
  color: gray;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  border-radius: 36px;
  width: 103%;

  height: 82px;
  margin-left: -24px;
  padding-left: 42px;
}
a.navbar-brand {
  font-size: 41px;
  font-weight: 700;
}
.banner-inner-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 145px;
}
.banner-sec {
  background-image: url("./images/main-banner.png");
  height: 807px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-inner-sec .main-heading p {
  color: #fff;
  font-size: 109px;
  font-family: dancingfont;
}
.buy-btn a {
  color: #fff;
  border: 1px solid;
  padding: 12px 30px;
  text-transform: uppercase;
}
.me-auto.navbar-nav a {
  margin-right: 27px;
  color: #000;
  font-weight: 700;
}
.me-auto.navbar-nav a:hover {
  color: #2775f1;
}
.img-sec.main-book {
  text-align: center;
}
.img-sec.main-book {
  background-image: url("./images/bg.png");
  background-position: center;
  height: 100%;
}
  .img-sec.main-book img {
    padding-top: 143px;
}

.aboutus .text-sec {
  margin-left: 113px;
  margin-top: 37px;
}
.aboutus .heading .upper-heading {
  font-family: oswaldlight;
  font-size: 30px;
  color: #9a9a9a;
  letter-spacing: 16px;
  text-transform: uppercase;
}
.aboutus .main-heading {
  font-size: 69px;
  font-family: oswaldmedium;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 92px;
}
.aboutus .btn {
  background-color: #2775f1;
}
.aboutus .btn a {
  color: #fff;
}
.aboutus .btn {
  background-color: #2775f1;
  width: 188px;
  padding-top: 11px;
  height: 53px;
  margin-top: 25px;
  font-size: 19px;
  border-radius: 0px;
}
.aboutus {
  padding: 0 0 8% 0;
}
.aboutus .text-sec .text {
  color: #9a9a9a;
  font-size: 19px;
}
.book-slider-sec .heading .upper-heading {
  font-family: oswaldlight;
  font-size: 30px;
  color: #9a9a9a;
  letter-spacing: 16px;
}
/* .img-sec {
  width: 82%;
} */
.mybookslider {
  margin-left: 62px;

  margin-top: 84px;
}
.heading-sec {
  width: 60%;
  display: inline-block;
}

.book-slider-sec .upper-heading {
  font-family: oswaldlight;
  text-transform: uppercase;
  font-size: 30px;
  color: #9a9a9a;
  letter-spacing: 16px;
}
.book-slider-sec .main-heading {
  font-size: 69px;
  font-family: oswaldmedium;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 17px;
  line-height: 92px;
}
.book-slider-sec {
  background-image: url("./images/books-slider-bg_02.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6% 0 12% 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.mybookslider .heading p {
  margin-top: 49px;
  font-size: 27px;
  text-transform: capitalize;
  font-family: "oswaldmedium";
  letter-spacing: 0px;
}
.book-slider-sec .img-sec {
  text-align: center;
  margin: 0 auto;
}
.order-btn a {
  display: inline-block;
  background-color: #2775f1;
  padding: 6px 15px 7px 8px;
  margin: 0 65px 0 65px;
  color: #fff;
}
.mybookslider img {
  display: inline-block !important;
}
.slick-prev:before {
  content: "←";
  position: absolute;
  left: -46px;
}
.slick-next:before {
  content: "→";
}
.slick-prev:before,
.slick-next:before {
  font-family: fontawesome !important;
  font-size: 56px !important;
  line-height: 1;
  opacity: 0.75;
  color: rgb(0, 0, 0) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.video-sec .main-heading {
  font-size: 54px;
  font-family: oswaldmedium;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 13px;
  line-height: 59px;
}
.video-sec .upper-heading {
  font-family: oswaldlight;
  text-transform: uppercase;
  font-size: 30px;
  color: #9a9a9a;
  letter-spacing: 16px;
}
.video-sec .btn {
  width: 85%;
  background-color: #2775f1;
  padding: 6px 15px 7px 8px;
  color: #fff;
}
.video-sec .btn a {
  color: #fff;
}
.video-sec .text-sec .text {
  color: #9a9a9a;
  font-size: 19px;
  line-height: 38px;
}
.main-footer {
  margin-top: 244px;
}
.video-sec {
  padding: 11% 0;
}
.video-sec .img-sec {
  position: relative;
  top: -273px;
  left: 76px;
}
.video-sec .img-sec:after {
  content: "";
  background-image: url("./images/baracingha-bg.png");
  width: 455px;
  height: 439px;
  position: absolute;
  top: 263px;
  left: 59px;
  z-index: -1;
}
.testimonials-sec {
  background-image: url("./images/testimonials-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 0 13% 0;
}
.testimonial .comment {
  background-color: #fff;
  padding: 50px 27px 50px 31px;
  text-align: center;
  margin-right: 34px;
  border-radius: 10px;
}
.testimonial .reviewer {
  display: flex;
  align-items: end;
  color: #fff;
  margin-top: 22px;
}
.testimonial .reviewer img {
  margin: 0 0px 0 85px;
}
.reviewer .intro {
  margin: 0 0 0 15px;
}
.comment-sec {
  position: relative;
}
.comment-sec .quote-img {
  margin: 0 0 12px 31px;
}
.testimonials-sec .main-heading {
  font-size: 69px;
  font-family: oswaldmedium;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 17px;
  line-height: 92px;
}
.testimonials-sec .upper-heading {
  font-family: oswaldlight;
  text-transform: uppercase;
  font-size: 30px;
  color: #9a9a9a;
  letter-spacing: 16px;
}
.testimonials-sec .heading-sec {
  text-align: center;
  color: #fff;
  display: inline;
}
.slick-dots li button:before {
  font-size: 19px !important;
  color: #fff !important;
}
.slick-dots {
  bottom: -100px !important;
  width: 96% !important;
}
.gallery-sec {
  text-align: center;
  padding: 5% 0 0 0;
}
.gallery-sec .main-heading {
  font-size: 69px;
  font-family: oswaldmedium;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 17px;
  line-height: 92px;
}
.gallery-sec .upper-heading {
  font-family: oswaldlight;
  text-transform: uppercase;
  font-size: 30px;
  color: #9a9a9a;
  letter-spacing: 16px;
}
.mygalleryslider {
  margin-top: 39px;
}
.main-footer .input-sec {
  position: relative;
}
 .input-sec a {
  position: absolute;
  right: 0px;
  background-color: #2775f1;
  padding: 13px 40px;
  border-radius: 0 0px 0px 0px;
  color: #ffffff;
  font-size: 22px;
  border: none;
}
.input-sec input {
  border: none;
 padding: 17px 0 17px 17px;
  width: 100%;
}
.main-footer .links-sec ul {
  list-style: none;
}
.main-footer {
  margin-top: 44px;
  background-color: #060606;
  color: #fff;
  padding: 5% 0;
}
.main-footer .mid-sec {
  width: 527px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
.footer-links .links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 142px;
}
.footer-links .links ul li a {
  color: #8c8c8c;
}
.footer-links .links ul li {
  background-color: #fff;
  padding: 11px 15px;
  border-radius: 42px;
  margin-right: 16px;
}
.main-footer .heading {
  font-size: 34px;
}
.main-footer .row {
  align-items: center;
}
.main-footer .links-sec a {
  color: #fff;
}
.main-footer .links-sec li {
  margin-top: 13px;
}
@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 550px) {
}

@media only screen and (max-width: 480px) {
}
